@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;

}

.my-container {
    max-width: 1140px !important;
}

.ff-Montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

.ff-raleway {
    font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------- line-hight  ---------------------------------------------*/
.lh-24 {
    line-height: 24px;
}

.opcity-7 {
    opacity: 0.7;
}



/*----------------------------------- nav section -----------------------------------*/


ul {
    padding-left: unset !important;
}

.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}

.cross-3 {
    display: none !important;
}

.cross-4 {
    transition: .4s;
}

.cross-5 {
    transition: .4s;
}

.cross-6 {
    transition: .4s;
}

.flow-hidden {
    overflow: hidden;
}

.nav-login-btn {
    border-radius: 5px;
    border: 1px solid var(--text-lightwhite);
    background: transparent;
    padding: 10px 28px;
    transition: .4s;
}

.nav-login-btn:hover {
    border: 1px solid var(--text-yellow);
    background: #242323;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);
}

.nav-line-1::before {
    content: "";
    position: absolute;

    width: 0;
    height: 3px;
    border-radius: 15px;
    background: var(--text-lightwhite);
    right: 0;
    bottom: -10%;
    transition: .5s;
}

.nav-line-1:hover::before {
    width: 100%;
    left: 0;
}

/*------------------------------------------------ hero-section  ------------------------------------------------*/
.btn-contact {
    border-radius: 5px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    padding: 11px 25px;
    border: none;
}
.bg-img{
    min-height: 30vh;
}

.mx-802 {
    max-width: 802px;
}

.mx-617 {
    max-width: 617px;
}

.hero-elipes-1 {
    border-radius: 881px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    width: 881px;
    height: 83px;
    flex-shrink: 0;
    position: absolute;
    top: 43%;
    left: 27%;
    z-index: 0;
}

.hero-img-1 {
    position: absolute;
    top: 4%;
    left: 30%;
    width: 100px;
}

.hero-img-2 {
    position: absolute;
    top: 9%;
    right: 17%;
    width: 100px;
}

.hero-img-3 {
    position: absolute;
    bottom: 18%;
    left: 23%;
    width: 100px;
}

.hero-img-4 {
    position: absolute;
    bottom: 18%;
    right: 23%;
    width: 100px;
}
.hero-img-5 {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100px;
}
.hero-img-6 {
    position: absolute;
    bottom: 60%;
    right: 0;
    width: 100px;
}

.hero-img-7 {
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 100px;
}

.hero-img-8 {
    position: absolute;
    bottom: 4%;
    right: 0;
    width: 100px;
}
/*--------------------------------------------first slider-section------------------------------------  */
.my-container-2{
    max-width: 1440px !important;
}


/*------------------------------------------- Relevant Works -------------------------------------------*/
.mx-697 {
    max-width: 697px;
}

.slider-1-btn-book {
    border-radius: 5px;
    background: #FFF9E4;
    padding: 16px 30px;
    transition: .4s;
}

.slider-1-btn-book:hover {
    background: #FFF9E4;
    box-shadow: 5px 5px 0px 0px #3C3C3C;
    padding: 16px 30px;
}

.slider1-img-1{
    position: absolute;
    top: 2%;
    left: 0%;
}
.slider1-img-2{
    position: absolute;
    bottom: -6%;
    right: 0%;
}
.slider .slick-active {
    transform: scale(1.1);
}

.slider .slick-track {
    padding-top: 100px;
    padding-bottom: 100px;
}

.slider .slick-track {
    padding-top: unset !important;
    padding-bottom: unset !important;
}

/*------------------------------------ service-section ------------------------------------*/

/* Services */
.mx-504 {
    max-width: 504px;
}


.service-sec-box {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 14px 6px;
    transition: .3s;
}

.service-sec-box:hover {
    border: 1px solid var(--text-yellow);
    background: #242323;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);
}

.service-sec-1 {
    position: absolute;
    top: 11%;
    left: 6%;
}

.service-sec-2 {
    position: absolute;
    top: 6%;
    right: 26%;
}

.service-sec-3 {
    position: absolute;
    bottom: 9%;
    left: 1%;
}

.service-sec-4 {
    position: absolute;
    bottom: 17%;
    right: 1%;
}

.service-elips-1 {
    width: 300px;
    height: 138px;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.service-elips-2 {
    width: 300px;
    height: 138px;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/*--------------------------------------------- pricing plan section ---------------------------------------------*/

.pricing-sec-crd {
    padding: 32px;
    max-width: 364px;
    border-radius: 15px;
    border: 1px solid var(--BLACK, #3C3C3C);
    height: 100%;
    transition: .4s;
}

.pricing-sec-crd:hover {
    border: 1px solid var(--text-yellow);
    box-shadow: 10px 10px 0px 0px #FFCF23;
}

.pricing-sec-crd:hover .price-sec-uppar-btn {
    background-color: var(--text-yellow);
    border: 1px solid var(--text-yellow);
    color: var(--text-lightwhite);
}

.pricing-sec-crd:hover .price-sec-btn {
    border: 2px solid var(--text-brown);
}

.border-b-line {
    border-bottom: 1px solid var(--text-gray);
}

.price-sec-btn {
    padding: 16px 32px;
    border-radius: 5px;
    border: 2px solid var(--text-lightblack2);
    transition: .4s;
}

.price-sec-uppar-btn {
    padding: 12px 54px;
    border-radius: 45px;
    border: 1px solid var(--text-lightblack2);
    background: var(--text-lightwhite2);
    transition: .4s;
}

.price-sec-btn-fixed {
    position: absolute;
    top: -28px;
    left: 10%;
}

.mx-460 {
    max-width: 460px;
}

.mx-350 {
    max-width: 350px;
}

.price-sec-commonBtn {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    padding: 14px 32px;
    background-color: transparent;
    transition: .4s;
}
.price-sec-commonBtn:hover {
    border: 1px solid #000;
    box-shadow: 10px 10px 0px 0px #000;
}

.br-line {
    border-right: 2px solid rgba(0, 0, 0, 0.10);
}


/*--------------------------------------------- Webflow development  ---------------------------------------------*/
.webflow-sec-add-btn {
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.20);
    padding: 12px 23px;
    border: none;
}

.webflow-sec-img-1 {
    position: absolute;
    top: -16%;
        left: -17%;
}

.webflow-sec-img-2 {
    position: absolute;
   
    bottom: -24%;
    right: -11%;
}

.webflow-elipes-1 {
    fill: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    width: 233px;
    height: 108px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.webflow-elipes-1 {
    fill: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    max-width: 233px;
    max-height: 108px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 0;
}



/* <!------------------------------------- What Our Customer Say -------------------------------------> */
.slider-2crd {
    border-radius: 15px;
    border: 1px solid #242323;
    max-width: 891px;
    padding: 0px 26px;
    height: 100%;
    transition: .4s;
}

.slider-2crd:hover {
    border-radius: 15px;
    border: 1px solid #FFCF23;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);

}

.mx-344 {
    max-width: 548px;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 57px !important;
    height: 11px !important;
    content: '' !important;
    text-align: center;
    opacity: .25;
    color: #000;
    background-color: #000 !important;
    border-radius: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li{
    margin: 0px 20px !important;
}



/*-----------------------------------------accordion-section ----------------------------------------- */
.accordion-button {
    background-color: var(--text-lightwhite3) !important;
}

.mx-880 {
    max-width: 880px !important;
}

.accordion {
    --bs-accordion-bg: var(--text-lightwhite3) !important;
    --bs-accordion-border-color: none !important;
}

.accordion-item {
    border-bottom: 2px solid #E5E3DD!important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: unset!important;
}

.mx-840 {
    max-width: 840px;
}

.acc-img-1 {
    position: absolute;
    top: 1%;
    left: 0;
}

.acc-img-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.acc-img-3 {
    position: absolute;
    top: 1%;
    right: 3%;
}

/*---------------------------------footer-section --------------------------------- */
.footer-circle {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(250, 250, 250, 0.15);

}

.mx-320 {
    max-width: 320px;
}

.footer-last-line {
    max-width: 100%;
    height: 2px;
    opacity: 0.2;
    background: var(--text-lightwhite);
}


/* ------------------------------------back-to-top------------------------------------ */
#backtotop {
    transition: .3s;
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 2;
    cursor: pointer;
    animation: float 2s linear infinite;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

/* -------------------------------------preloader------------------------------------- */
.loader_bg {
    position: fixed;
    z-index: 9;
    background:var(--text-lightblack);
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -30%);
    width: 50px;
}

/* media screens */
@media (max-width:992px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 12%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: var(--text-lightwhite);
    }

    .nav-box {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: var(--text-light-black3);
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;
    }

    .fix-lft {
        left: 0;
    }

    .nav-line::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: #fafafa;
        bottom: -80%;
        left: -203%;
        opacity: 0.2;

    }

    .nav-lines::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: #fafafa;
        bottom: -80%;
        left: -145%;
        opacity: 0.2;

    }

    .nav-linep::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: #fafafa;
        bottom: -80%;
        left: -175%;
        opacity: 0.2;

    }

    .nav-linef::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: #fafafa;
        bottom: -80%;
        left: -312%;
        opacity: 0.2;

    }
}

@media (min-width:576px) {}

@media (min-width:768px) {
    .accordion-button::after {
        background-image: url(../images/arrow-img.png) !important;
    }

    .btn-contact {
        border-radius: 5px;
        background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
        padding: 16px 30px;
        border: none;
    }    
    .price-sec-btn {
        padding: 16px 95px;
        border-radius: 5px;
        border: 2px solid var(--text-lightblack2);
        transition: .4s;
    }
    
   
}

@media (min-width:992px) {
    .bg-img{
        min-height: 100vh;
    }
}