@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;

}

.my-container {
    max-width: 1140px !important;
}

.ff-Montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

.ff-raleway {
    font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------- line-hight and opcity  ---------------------------------------------*/
.lh-24 {
    line-height: 24px;
}

.opcity-7 {
    opacity: 0.7;
}



/*----------------------------------- nav section -----------------------------------*/


ul {
    padding-left: unset !important;
}

.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}

.cross-3 {
    display: none !important;
}

.cross-4 {
    transition: .4s;
}

.cross-5 {
    transition: .4s;
}

.cross-6 {
    transition: .4s;
}

.flow-hidden {
    overflow: hidden;
}

.nav-login-btn {
    border-radius: 5px;
    border: 1px solid var(--text-lightwhite);
    background: transparent;
    padding: 16px 30px;
    transition: .4s;
}

.nav-login-btn:hover {
    border-radius: 5px;
    background: var(--500, #80765D);
    border: 1px solid #80765d; 
}

.nav-line-1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 15px;
    background: var(--text-lightwhite);
    right: 0;
    bottom: -60%;
    transition: .5s;
}

.nav-line-1:hover::before {
    width: 100%;
    left: 0;
}

/*------------------------------------------------ hero-section  ------------------------------------------------*/
.btn-contact {
    border-radius: 5px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    padding: 11px 25px;
    border: none;
    transition: all 500ms linear;
}

.btn-contact:hover {
    border: 1px solid var(--text-yellow);
    background: transparent;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);
}

.bg-img {
    min-height: 55vh;
}

.mx-802 {
    max-width: 802px;
}

.mx-617 {
    max-width: 617px;
}

.hero-elipes-1 {
    border-radius: 881px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    width: 881px;
    height: 83px;
    flex-shrink: 0;
    position: absolute;
    top: 43%;
    left: 27%;
    z-index: 0;
}

.hero-img-1 {
    position: absolute;
    top: 4%;
    left: 30%;
    width: 100px;
}

.hero-img-2 {
    position: absolute;
    top: 9%;
    right: 17%;
    width: 100px;
}

.hero-img-3 {
    position: absolute;
    bottom: 18%;
    left: 23%;
    width: 100px;
}

.hero-img-4 {
    position: absolute;
    bottom: 18%;
    right: 23%;
    width: 100px;
}

.hero-img-5 {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100px;
}

.hero-img-6 {
    position: absolute;
    bottom: 60%;
    right: 0;
    width: 100px;
}

.hero-img-7 {
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 100px;
}

.hero-img-8 {
    position: absolute;
    bottom: 4%;
    right: 0;
    width: 100px;
}

/*--------------------------------------------first slider-section------------------------------------  */
.my-container-2 {
    max-width: 1440px !important;
}


.slick-dots li {    
    width: 31px !important;
    height: 11px !important;     
    background-color: var(--bg-dots) !important;
    border-radius: 34px !important;
    
}

.slider-first .slick-dots li.slick-active{
    width: 40px !important;
height: 11px !important;
border-radius: 18px !important;
background: #3C3C3C !important;
opacity: 1 !important;
}


/*------------------------------------------- Relevant Works -------------------------------------------*/
.mx-697 {
    max-width: 697px;
}

.slider1 .slick-slide{
    height: 598px !important;
}
.slider1 .slick-slide.slick-current.slick-active.slick-center {
    width: 831.575px !important;
height: 700.369px !important;
}

.slider-1-btn-book:hover {
    background: #FFF9E4;
    box-shadow: 5px 5px 0px 0px #3C3C3C;
    padding: 16px 30px;
}

.slider1-img-1 {
    position: absolute;
    top: 2%;
    left: 0%;
}

.slider1-img-2 {
    position: absolute;
    bottom: 3%;
    right: 0%;
}

.slider .slick-active {
    transform: scale(1.1);
}

.slider1 .slick-track {
     min-height: 710px;
    display: flex;
    align-items: center;
}

.slider .slick-track {
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.book-btn{
padding: 16px 30px;
border-radius: 5px;
border: 1px solid var(--BLACK, #3C3C3C);
background: #FFF9E4;
box-shadow: 5px 5px 0px 0px #3C3C3C;
}

.price-sec-btn {
    padding: 16px 32px;
    border-radius: 5px;
    border: 2px solid var(--text-lightblack2);
    transition: .4s;
}

.price-sec-btn:hover {
    background: transparent;
    box-shadow: 5px 5px 0px 0px black;
}


/*------------------------------------ service-section ------------------------------------*/

/* Services */
.mx-504 {
    max-width: 504px;
}


.service-sec-box {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.30);    
    transition: .3s;
    padding: 14px 13px;
}

.service-sec-box:hover {
    border: 1px solid var(--text-yellow);
    background: #242323;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);
}

.service-sec-1 {
    position: absolute;
    top: 11%;
    left: 6%;
}

.service-sec-2 {
    position: absolute;
    top: 6%;
    right: 26%;
}

.service-sec-3 {
    position: absolute;
    bottom: 9%;
    left: 1%;
}

.service-sec-4 {
    position: absolute;
    bottom: 17%;
    right: 1%;
}

.service-elips-1 {
    width: 300px;
    height: 138px;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.service-elips-2 {
    width: 300px;
    height: 138px;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/*--------------------------------------------- pricing plan section ---------------------------------------------*/

.pricing-sec-crd {
    padding: 32px;
    max-width: 364px;
    border-radius: 15px;
    border: 1px solid var(--BLACK, #3C3C3C);
    height: 100%;
    transition: .4s;
}

.pricing-sec-crd:hover {
    border: 1px solid var(--text-yellow);
    box-shadow: 10px 10px 0px 0px #FFCF23;
}

.pricing-sec-crd:hover .price-sec-uppar-btn {
    background-color: var(--text-yellow);
    border: 1px solid var(--text-yellow);
    color: var(--text-lightwhite);
}

.pricing-sec-crd:hover .price-sec-btn {
    border: 2px solid var(--text-brown);
}

.border-b-line {
    border-bottom: 1px solid var(--text-gray);
}

.price-sec-uppar-btn {
    padding: 12px 30px;
    border-radius: 45px;
    border: 1px solid var(--text-lightblack2);
    background: var(--text-lightwhite2);
    transition: .4s;
}

.price-sec-btn-fixed {
    position: absolute;
    top: -28px;
    left: 10%;
}

.mx-460 {
    max-width: 460px;
}

.mx-350 {
    max-width: 350px;
}

.price-sec-commonBtn {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    padding: 14px 32px;
    background-color: transparent;
    transition: .4s;
}

.price-sec-commonBtn:hover {
    border: 1px solid #000;
    box-shadow: 10px 10px 0px 0px #000;
}

.br-line {
    border-right: 2px solid rgba(0, 0, 0, 0.10);
}

.pricing-plan-1{
    position: absolute;
    top: 4%;
    left: 0%;
}
.pricing-plan-2{
    position: absolute;
    top: 3%;
    right: 24%;
}
.pricing-plan-3{
    position: absolute;
    bottom: 38%;
    left: 5%;
}


/*--------------------------------------------- Webflow development  ---------------------------------------------*/
.webflow-sec-add-btn {
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.20);
    padding: 12px 23px;
    border: none;
}

.webflow-sec-img-1 {
    position: absolute;
    top: 0%;
    left: 10%;
    z-index: -1;
}

.webflow-sec-img-2 {
    position: absolute;
    bottom: 0%;
    right: 8%;
    z-index: -1;
}
.webflow-sec-img-3 {
    position: absolute;
    bottom: 22%;
    left: 18%;
    z-index: -1;
}

.webflow-elipes-1 {
    background: linear-gradient(125deg, #FFCF23 0%, #FFA723 100%);
    filter: blur(239px);
    width: 233px;
    height: 108px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.webflow-elipes-2 {
    background: linear-gradient(125deg, #FFCF23 0%, #FFA723 100%);
    filter: blur(239px);
    width: 233px;
    height: 108px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}



/* <!------------------------------------- What Our Customer Say -------------------------------------> */

/* <!-- What Our Customer Say --> */
.slider-3-crd {
    border-radius: 15px;
    border: 1px solid #242323;
    max-width: 891px;
    padding: 18px 26px;
    height: 100%;
    transition: .4s;
}
.slick-active.slider-3-crd:hover  {
    border-radius: 15px;
    border: 1px solid #FFCF23;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);
}

.slider2 .slick-current {
    border: 1px solid var(--text-yellow);
    box-shadow: 5px 5px 0px 0px var(--text-yellow);
}

.mw-344 {
    max-width: 548px;
}

.slick-dots li button:before {
    content: '' !important;   
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 29px !important;
    background-color:#d9d9d9 !important;
    height: 11px !important;
    border-radius: 18px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li.slick-active{
    opacity: .75;
    background-color: #242323 !important;
    width: 57px !important;
}

.girls-img-1{
    width: 100px;
}

/*-----------------------------------------accordion-section ----------------------------------------- */
.accordion-button {
    background-color: var(--text-lightwhite3) !important;
}

.mx-880 {
    max-width: 880px !important;
}

.accordion {
    --bs-accordion-bg: var(--text-lightwhite3) !important;
    --bs-accordion-border-color: none !important;
}


.bb-1{
    border-bottom: 2px solid #E5E3DD !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
.accordion-button{
    padding: 12px 8px !important;
}

.accordion-body {
    padding: 4px 8px !important;
}
.accordion-button::after {
    background-image: unset !important;
}

.mx-840 {
    max-width: 840px;
}

.acc-img-1 {
    position: absolute;
    top: -4%;
    left: 0;
}

.acc-img-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.acc-img-3 {
    position: absolute;
    top: 1%;
    right: 3%;
}

/*---------------------------------footer-section --------------------------------- */
.footer-circle {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(250, 250, 250, 0.15);

}

.mx-320 {
    max-width: 320px;
}

.footer-last-line {
    max-width: 100%;
    height: 2px;
    opacity: 0.2;
    background: var(--text-lightwhite);
}

.footer-l::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 15px;
    background: var(--text-lightwhite);
    right: 0;
    bottom: -40%;
    transition: .5s;
}

.footer-l:hover::before {
    width: 100%;
    left: 0;
}

.svg-h{
    transition: .4s;
}
.svg-h:hover{
transform: translateY(-40%);
}

/* ------------------------------------back-to-top------------------------------------ */
#backtotop {
    transition: .3s;
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 2;
    cursor: pointer;
    animation: float 2s linear infinite;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.w_100 {
    width: 25%;
}

/* -------------------------------------preloader------------------------------------- */
.loader_bg {
    /* position: fixed; */
    z-index: 9;
    background: var(--text-lightblack);

}

.common-img{
    width: 10%;
}

/* media screens */
@media (max-width:992px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 12%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: var(--text-lightwhite);
    }

    .nav-box {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: var(--text-light-black3);
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;
    }

    .fix-lft {
        right: 0;
    }

    .nav-line {
        border-bottom: 1px solid #fafafa;
        width: 80%;
        text-align: center;

    }

}

@media (min-width:576px) {
    .w_100 {
        width: 100%;
    }
}

@media (min-width:768px) {
    .accordion-button::after {
        background-image: url(../images/arrow-img.png) !important;
    }

    .btn-contact {
        border-radius: 5px;
        background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
        padding: 16px 30px;
        border: none;
    }

    .price-sec-btn {
        padding: 16px 95px;
        border-radius: 5px;
        border: 2px solid var(--text-lightblack2);
        transition: .4s;
    }

    .girls-img-1{
        width: unset;
    }


}

@media (min-width:992px) {
    .bg-img {
        min-height: 87vh;
    }
    .slider-2crd {
        border-radius: 15px;
        border: 1px solid #242323;
        max-width: 891px;
        padding: 54px 58px;   
        transition: .4s;
    }

    .common-img{
        width: unset;
    }
    

}